/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  background-color: #f3f3f3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigator-list {
  display: flex;

}

#navigator-list li {
  list-style-type: none;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 100vw;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

#navigator {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#navigator-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigator-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 30%;
  background-color: #ddd;
  margin: 0 10px;

  list-style-type: none;
}

li > a {
  cursor: pointer;
}

#arrow-left,
#arrow-right {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

button {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.active {
  background-color: yellow;
}
